/* StockFilter.css */

.stock-filter{
    padding: 25px;
}
 .left-filters {
    position: relative;
    padding: 20px;
    /* background-color: #f0f0f0; */
    border: 1px solid #fff;
    border-radius: 5px;
    float: left;  
    text-align: left;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    max-width: 20%;
  } 

/* .checkbox {
    margin-left: -0px;
} */

.container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 16px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  border: 1.5px solid #6e6b6b;
  background-color: #fff;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
  background-color: #fff;
  border: 1.5px solid #6e6b6b;
}

/* When the checkbox is checked, add a blue background */
.container input:checked ~ .checkmark {
  background-color: #2196F3;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
  left: 7px;
  top: 3px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.search-section{
    padding-bottom :20px;
    height: 25px !important;
    width: 100%;
}
.search-section input{
  /* background-image: url('../images/search.png'); */
  width: 90%;
  padding: 10px;
  margin-bottom: 10px;
}
.sectors{
    max-height: 20vh;
    margin-top: 10px;
    overflow-y: scroll;
}


.inputclose input{
    width: 20%;
    margin-bottom: 30px;
    padding: 10px;
}